body{
    background-color: #E4E5E7 ;
    
}
nav ul{
    background-color: #527ED7;
    list-style:none;
}
nav ul li a{
    padding: 10px;
    text-decoration: none;
    color: white;
}
nav ul li{
    padding: 10px;
    text-align: center;
    display: inline-block;
}
nav ul li a:hover{
    background-color: #D03947  ;   
}
footer {
    background-color: #1A1B1D;
    color: white;
    padding: 20px;
    text-align: center;
  }
section article{
    display: flex;
    margin-left: 5%;
}
.sabias{
    width: 30%;
    height: 30%;
    background-color: #EBD348;
    padding: 10px;
    margin: 10px ;
    float: left;
}
#animevsmanga{
width: 40%;
padding-left: 20px;
}
#manga1{
    width: 40%;
    padding-left: 20px;
}
.parrafoarticle{
    width: 80%;
}   
#oda{
    width: 40%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}
#mano{
    width: 40%;
    padding: 20px;
}
#nobles{
    width: 35%;
    padding: 20px;
}
#gorosei{
    width: 35%;
    padding: 20px;
}
#marine{
    width: 40%;
    padding: 20px;
}
#cuartel{
    width: 40%;
    padding: 20px;
}
#tesoro1{
    width: 40%;
    padding: 20px;
}
#roger{
    width: 40%;
    padding: 20px;
}
#barco{
    width: 40%;
    padding: 20px;
}
#tripulantes{
    width: 40%;
    padding: 20px;
}
#mundo{
    width: 30%;
    padding: 10px;
}
#east{
    width: 40%;
    padding: 20px;
}
#enel{
    width: 40%;
    padding: 20px;
}
#shiro {
    width: 40%;
    padding: 20px;
}
#tritones{
    width: 40%;
    padding: 20px;
}
#levely{
    width: 40%;
    padding: 20px;
}
#dressrosa{
    width: 40%;
    padding: 20px;
}
#yonkou{
    width: 40%;
    padding: 20px;
}
#navegacion{
    text-align: center;
    background-color: #E4E5E7;
    padding: 10px; 
}
#navegacion li{
    margin:10px;

}