
header{
    background-color: #D03947 ;
    text-align: center;
}
body{
    background-color: #E4E5E7 ;
    
}
nav ul{
    background-color: #527ED7;
    list-style:none;
}
nav ul li{
    padding: 10px;
    text-align: center;
    display: inline-block;
}
nav ul li a{
    padding: 10px;
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    background-color: #D03947  ;   
}
footer {
    background-color: #1A1B1D;
    color: white;
    padding: 20px;
    text-align: center;
  }
.onePiece {
    width: 30%;
    margin:0 auto;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  }
  .luffy{
      width: 30%;
      float: right;
      margin-left: 20px;
      margin-bottom: 20px;
      }
  section{
      display: flex;
  }
  #op{
      text-align: center;
  }
  #que{
      text-align: center;
  }